$switch-radius: 25px;
$switch-paddle-radius: 15px;
$switch-background-active: #fc9934;

$button-radius: 25px;
$button-background: #FFF;
$button-background-hover: #ffedcc;
$button-color: #fc9934;

$input-background: #fc9934;
$input-background-focus: #fc9934;
$input-shadow: none;
$input-shadow-focus: none;
$input-border: 0px solid #FFF;
$input-border-focus: 0px solid #FFF;
$input-color: #FFFFFF;
$input-placeholder-color: #d6d6d6;
$input-radius: 25px;

$grid-row-gutter: 10px;
$grid-column-gutter: 0px;