<div class="row">
  <div style="background-color: #55aed7;" class="small-3 columns color-cell color-cell-top-left"></div>
  <div style="background-color: #4897b2;" class="small-3 columns color-cell"></div>
  <div style="background-color: #39768d;" class="small-3 columns color-cell"></div>
  <div style="background-color: #295565;" class="columns color-cell color-cell-top-right"></div>
</div>
<div class="row">
  <div style="background-color: #3274fe;" class="small-3 columns color-cell"></div>
  <div style="background-color: #2d66d4;" class="small-3 columns color-cell"></div>
  <div style="background-color: #2351a7;" class="small-3 columns color-cell"></div>
  <div style="background-color: #193b7a;" class="columns color-cell"></div>
</div>
<div class="row">
  <div style="background-color: #7523bb;" class="small-3 columns color-cell"></div>
  <div style="background-color: #5d1d9c;" class="small-3 columns color-cell"></div>
  <div style="background-color: #49177b;" class="small-3 columns color-cell"></div>
  <div style="background-color: #351159;" class="columns color-cell"></div>
</div>
<div class="row">
  <div style="background-color: #a12e69;" class="small-3 columns color-cell"></div>
  <div style="background-color: #852659;" class="small-3 columns color-cell"></div>
  <div style="background-color: #691e47;" class="small-3 columns color-cell"></div>
  <div style="background-color: #4c1733;" class="columns color-cell"></div>
</div>
<div class="row">
  <div style="background-color: #d93018;" class="small-3 columns color-cell"></div>
  <div style="background-color: #bd1500;" class="small-3 columns color-cell"></div>
  <div style="background-color: #971100;" class="small-3 columns color-cell"></div>
  <div style="background-color: #6c0c00;" class="columns color-cell"></div>
</div>
<div class="row">
  <div style="background-color: #e55100;" class="small-3 columns color-cell"></div>
  <div style="background-color: #c03c00;" class="small-3 columns color-cell"></div>
  <div style="background-color: #982f00;" class="small-3 columns color-cell"></div>
  <div style="background-color: #501802;" class="columns color-cell"></div>
</div>
<div class="row">
  <div style="background-color: #ec9303;" class="small-3 columns color-cell"></div>
  <div style="background-color: #c36f03;" class="small-3 columns color-cell"></div>
  <div style="background-color: #995905;" class="small-3 columns color-cell"></div>
  <div style="background-color: #6f4006;" class="columns color-cell"></div>
</div>
<div class="row">
  <div style="background-color: #f1af0c;" class="small-3 columns color-cell"></div>
  <div style="background-color: #c58a09;" class="small-3 columns color-cell"></div>
  <div style="background-color: #9b6d0a;" class="small-3 columns color-cell"></div>
  <div style="background-color: #704d08;" class="columns color-cell"></div>
</div>
<div class="row">
  <div style="background-color: #c1aa12;" class="small-3 columns color-cell"></div>
  <div style="background-color: #ad9910;" class="small-3 columns color-cell"></div>
  <div style="background-color: #8b790f;" class="small-3 columns color-cell"></div>
  <div style="background-color: #65580d;" class="columns color-cell"></div>
</div>
<div class="row">
  <div style="background-color: #a49e1b;" class="small-3 columns color-cell"></div>
  <div style="background-color: #938e18;" class="small-3 columns color-cell"></div>
  <div style="background-color: #767314;" class="small-3 columns color-cell"></div>
  <div style="background-color: #56530d;" class="columns color-cell"></div>
</div>
<div class="row">
  <div style="background-color: #99bb44;" class="small-3 columns color-cell"></div>
  <div style="background-color: #819c39;" class="small-3 columns color-cell"></div>
  <div style="background-color: #4a5920;" class="small-3 columns color-cell"></div>
  <div style="background-color: #364017;" class="columns color-cell"></div>
</div>
<div class="row">
  <div style="background-color: #aeaeae;" class="small-3 columns color-cell"></div>
  <div style="background-color: #a1a1a1;" class="small-3 columns color-cell"></div>
  <div style="background-color: #858585;" class="small-3 columns color-cell"></div>
  <div style="background-color: #6e6e6e;" class="columns color-cell"></div>
</div>
<div class="row">
  <div style="background-color: #525252;" class="small-3 columns color-cell color-cell-bottom-left"></div>
  <div style="background-color: #363636;" class="small-3 columns color-cell"></div>
  <div style="background-color: #1d1d1d;" class="small-3 columns color-cell"></div>
  <div style="background-color: #090909;" class="columns color-cell color-cell-bottom-right"></div>
</div>