<!DOCTYPE html>
<html>

<head>

<title>Burner Control Panel</title>
<script src="/js/vendor/jquery.js"></script>
<script type="text/javascript" src="/js/app.js"></script>
<script type="text/javascript" src="/js/vendor/clipboard.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href='//fonts.googleapis.com/css?family=Arvo' rel='stylesheet'>
<link href='//fonts.googleapis.com/css?family=Lato' rel='stylesheet'>
<link rel="stylesheet" type="text/css" href="/stylesheets/app.css" />

</head>

<body>

<div class="row logo-container">

  <div class="small-2 large-1 medium-2 columns">
  	<img class="logo" src="/img/logo_block.svg" />
  </div>

</div>
