<% include ../partials/header.ejs %>

<div class="row">

  <div id="authorize" class="small-10 small-centered medium-8 medium-centered large-4 large-centered columns">

      <div class="row add-margin">

      </div>

      <div class="row">
        <div class="small-12 columns">
          <h4>Control Panel</h4>
        </div>
        <div class="small-12 columns">
          <p>The Burner control panel allows you to configure your number's settings from a simple web application.</p>
        </div>
      </div>

      <div class="row" id="submit_form">
        <div class="small-12 small-centered columns">
          <a class="button large expanded" href="/authorize">Authorize</a>
        </div>
      </div>

  </div>

</div>

<% include ../partials/footer.ejs %>
